* {
  margin: 0 auto;
  box-sizing: border-box;
}

body {
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5%;
}

textarea {
  display: block;
  padding: 10px 0 0 20px;
  line-height: 15px;
  resize: none;
  color: #c2c2c2;
  background-color: rgba(200, 200, 200, 0.2);
  border-radius: 10px;
  border: none;
  outline: none;
  min-width: 400px;
  min-height: 300px;
}

textarea::placeholder {
  color: #c2c2c2;
  font-size: 20px;
  min-height: 90%;
  min-width: 30%;
}

button {
  height: 50px;
  font-weight: 300;
  font-size: 20px;
  border-radius: 20px;
  border: 1px solid #acacac;
  color: #c2c2c2;
  background-color: rgba(140, 140, 140, 0.1);
  outline: none;
  padding: 0 20px 0 20px;
  margin: 2% 2% 0 2%;
}

button:hover {
  cursor: pointer;
}

a {
  font-size: 20px;
  text-decoration: none;
  color: #c2c2c2;
}

a:visited {
  color: #888888;
  font-weight: bold;
  text-decoration: line-through;
}

.subscribes, .likers {
  display: flex;
  flex-direction: column;
  background-color: rgba(140, 140, 140, 0.1);
  border-radius: 50px;
  padding: 2%;
}

.subscribes {
  margin-bottom: 3%;
}

.subscribes_total, .likers_total {
  padding: 10px 0 0 20px;
  line-height: 25px;
  resize: none;
  color: #c2c2c2;
  font-family: Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: rgba(200, 200, 200, 0.2);
  border-radius: 10px;
  border: none;
  min-height: 80%;
}

.subscribes_total {
  min-width: 30%;
}

.likers_total, .likers_subscribers-list, .likers_list {
  min-width: 30%;
  max-width: 31%;
}

.text {
  display: flex;
  width: 100%;
}

.buttons {
  width: 100%;
  text-align: center;
}
